<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img class="static" width="45" height="40" src="https://i.pinimg.com/originals/49/6c/f5/496cf59cb7144e64c3e2e3efb958c6fa.gif">
        <img class="active" src="../../assets/img/heart.png" width="35" height="35">
      </a>
      <a class="navbar-brand" routerLink='/' routerLinkActive='active'>The Dating App</a>
      
      <!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
      <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed"><span class="navbar-toggler-icon"></span></button>

      <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0" >
          <!-- gonna be hide by on internet, doesn't generate any HTML -->
          <ng-container *ngIf="accountService.currentUser$ | async"> 
              <li class="nav-item">
                <a (click)="isMenuCollapsed = true" class="nav-link" routerLinkActive='active' aria-current="page" routerLink='/members'>Matches</a>
              </li>
              <li class="nav-item">
                <a (click)="isMenuCollapsed = true" class="nav-link" routerLink='/lists' [routerLinkActive]="['active']" >Lists</a>
              </li>
              <li class="nav-item">
                <a (click)="isMenuCollapsed = true" class="nav-link" routerLink='/messages' [routerLinkActive]="['active']" >Messages</a>
            </li>
          </ng-container>
        </ul>
        <!-- async to automatically unsuscribe to the observable if our nav componnet is no longer visible -->
        <div *ngIf="(accountService.currentUser$ | async) as user" ngbDropdown class="dropdown">
          <button ngbDropdownToggle class="btn btn-light" type="button" id="dropdownMenuButton1" aria-expanded="false">
            Welcome {{user.username | titlecase}}
          </button>
          <ul ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
            <li><a routerLink="/member/edit" ngbDropdownItem href="#">Edit profile</a></li>
            <div class="dropdown-divider"></div>
            <li><a ngbDropdownItem href="#" (click)="logout()">Logout</a></li>
          </ul>
        </div>

        <!-- ngForm means that now it is an angular form -->
        <form class="d-none d-md-block" *ngIf="(accountService.currentUser$ | async) === null" #loginForm="ngForm" class="d-flex" (ngSubmit)="login()" autocomplete="off">
          <input 
            name="username"
            [(ngModel)]="model.username"
            class="form-control me-2" 
            type="search" 
            placeholder="Username">
          <input 
            name="password"
            [(ngModel)]="model.password"
            class="form-control me-2" 
            type="password" 
            placeholder="Password">
          <button class="btn btn-outline-dark" type="submit">Login</button>
        </form>
      </div>
    </div>
    
  </nav>